body {
    background-color: #252525;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-background {
    background-color: #3E3E3E;
    display: flex;
    justify-content: center;

    margin-top: 6rem;
    padding: 2rem;
    width: 40rem;
    height: 47rem;
}

form {
    font-family: 'Inter';
    color: white;


    >h1 {
        font-weight: 600;
        text-align: center;
        font-size: 50;
        margin-bottom: 2rem;

    }


    >input,
    textarea {
        background-color: #2E2E2E;
        border-style: none;
        margin-bottom: 1rem;
        color: white;
        font-size: 14px;
        font-family: 'Inter';

        border-radius: .3rem;
        padding: .3rem;
    }

    #email,
    #onderwerp,
    #inhoud {
        width: 30rem;
        height: 2rem;

    }

    #radio {
        margin-bottom: 0;
        background-color: red;
    }

    #inhoud {
        height: 20rem;
    }

    #submit {
        padding: 1em 4rem 1rem 4rem;
        background-color: #444444;
        color: white;
        font-weight: bold;
        font-size: 15;
        border-style: none;
    }

    .submit-container {
        display: flex;
        justify-content: center;
    }
}