main#info {
    div.top {
        width: 100%;
        height: 50%;
        background-color: black;
        color: white;

        // img {
        //     width: 80%;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }

    h1 {
        position: relative;
    }

    .banner {
        display: flex;
        justify-content: center;
        background-color: #393939;

    }

    .banner img {
        height: fit-content;
        width: 40rem;
        opacity: 100%;

        /* Toegevoegd */
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            /* Toegevoegd */
        }

    }

    .glaasje {
        opacity: 80%;
        position: relative;
        background-color: #0F0F0F;

        // >img {
        //     opacity: 100%;
        // }

    }
}